@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --c1 : #00132A;
    --c2 : #84FFE9;
    --c3: #00C9C9;
    --c4: #000E1F;
    --c5: #d8d8d8;
}

.landing{
    background: linear-gradient(rgba(0, 19, 42, 0.7),rgba(0, 19, 42, 0.7)),url(../Images/Banner.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: -200px;
    height: 100vh;
    margin-top: -100px;
}
.waterMark{
    display: flex;
    text-align: center;
}

.landing h1{
    color: rgba(255, 255, 255, 0.05);
    font-size: 150px;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    top: 280px;
    white-space: nowrap;
    overflow:hidden;
    min-width: 0;
    font-weight: 700;
    cursor: default;
    user-select: none;
    z-index: 1;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    cursor:default;
    user-select: none;
}
.title img{
    height: 120px;
    margin-right: 30px;
}
.title .text h4{
    font-weight: 500;
    font-size: 28px;
}
.title .text h3{
    font-weight: 600;
    font-size: 50px;
    margin-top: -18px;
}
.title .text{
    position: relative;
    padding-left: 30px;
}
.title .text::before{
    content: '';
    height: 60%;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    background-color: var(--c5);
}
.arr{
    rotate: 90deg;
    letter-spacing: 10px;    
    font-size: 18px;
    font-weight: 200;
    color: var(--c3);
    user-select: none;
}
.arrows .right{
    position: absolute;
    left: 0;
    bottom: 150px;
}
.arrows .left{
    position: absolute;
    right: 0;
    bottom: 150px;
}

.section2{
    margin-top: 80px;
    text-align: center;
    padding-bottom: 30px;
}

.section2 h1{
    color: var(--c2);
    font-size: 35px;
    font-weight: 700;
}
.section2 p{
    width: 50%;
    font-size: 25px;
    margin: 20px auto;
}
.targets{
    display: flex;
    width: 90%;
    margin: 20px auto;
}
.targets img{
    flex: 1;
    width: 30px;
    margin: 20px 10px;
    cursor: pointer;
}
.targets img:hover{
    box-shadow: 0px 0px 25px #00c9c992;
}

.section3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: 0 auto 50px auto;
    grid-template-rows: 150px 150px;
    grid-gap: 15px;
}
.horizontal{
    display: grid;
    grid-column: 1/span 2;
    grid-row: span 1;
    position: relative;
    text-decoration: none;
    text-align: center;
}
.gallery{
    background: linear-gradient(rgba(0, 75, 75, 0.7),rgba(0, 75, 75, 0.7)),url(../Images/Gallery.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;
}
.shop{
    background: linear-gradient(rgba(0, 75, 75, 0.7),rgba(0, 75, 75, 0.7)),url(../Images/Store.webp);
    background-size: cover;
    background-position: center;
}
.hcontent h1{
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    transition: all 0.3s ease;
    color: white;
}
.gallery:hover{
    background: linear-gradient(rgba(0, 201, 201, 0.8),rgba(0, 201, 201, 0.8)),url(../Images/Gallery.jpg);
    background-size: cover;
    background-position: center;
}
.shop:hover{
    background: linear-gradient(rgba(0, 201, 201, 0.8),rgba(0, 201, 201, 0.8)),url(../Images/Store.webp);
    background-size: cover;
    background-position: center;
}
.gallery:hover .hcontent h1, .shop:hover .hcontent h1,
.up:hover h1 , .feed:hover h1{
    font-size: 25px;
    letter-spacing: 5px;
    color: var(--c4);
    font-weight: 700;
}

.vertical{
    display: grid;
    grid-row: 1/ span 2;
    position: relative;
    text-decoration: none;
    text-align: center;
}
.up{
    background: linear-gradient(rgba(0, 75, 75, 0.7),rgba(0, 75, 75, 0.7)),url(../Images/Users.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    grid-column: 3;
}
.feed{
    background: linear-gradient(rgba(0, 75, 75, 0.7),rgba(0, 75, 75, 0.7)),url(../Images/feedback.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    grid-column: 4;
}
.up:hover{
    background: linear-gradient(rgba(0, 201, 201, 0.8),rgba(0, 201, 201, 0.8)),url(../Images/Users.jpg);
    background-size: cover;
    background-position: center;
}
.feed:hover{
    background: linear-gradient(rgba(0, 201, 201, 0.8),rgba(0, 201, 201, 0.8)),url(../Images/feedback.jpg);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width:1200px) and (min-width:768px) {
    .landing{
        background-position-y: 0px;
        margin-top: -90px;
    }

    .landing h1{
        font-size: 115px;
        top: 230px;
    }
    .title .text h4{
        font-size: 20px;
    }
    .title .text h3{
        font-size: 40px;
    }
    .title img{
        height: 100px;
        margin-right: 20px;
    }
    .title .text{
        padding-left: 20px;
    }
    .arrows .right, .arrows .left{
        bottom: 130px;
    }
    .section2{
        margin-top: 50px;
    }
    
    .section2 h1{
        font-size: 30px;
    }
    .section2 p{
        width: 60%;
        font-size: 22px;
        margin: 10px auto;
    }
}

@media screen and (max-width: 768px){
    .landing{
        background-position-y: 0px;
        margin-top: -15px;
    }
    .title{
        display: block;
        text-align: center;
    }
    .landing h1{
        font-size: 100px;
        letter-spacing: 4px;
        position: relative;
        top: 50% !important;
        white-space: wrap;
        overflow:hidden;
        min-width: 0;
        font-weight: 700;
        cursor: default;
        user-select: none;
    }
    .title .text h4{
        font-size: 20px;
    }
    .title .text h3{
        font-size: 30px;
        margin-top: -5px;
    }
    .title img{
        height: 80px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .title .text{
        padding-left: 0px;
    }
    .title .text::before{
        display: none;
    }
    .arrows .right, .arrows .left{
        bottom: 500px;
    }
    .section2{
        margin-top: 50px;
    }
    
    .section2 h1{
        font-size: 19px;
    }
    .section2 p{
        width: 80%;
        font-size: 14px;
        margin: 10px auto;
    }
    .targets{
        display: block;
        width: 80%;
        margin: 20px auto;
        align-items: center;
    }
    .targets img{
        width: 80px;
        margin: 10px 10px;
        cursor: pointer;
        align-items: center;
    }
    .section3{
        grid-template-rows: repeat(4, 100px) ;
        grid-gap: 10px;
        margin: 0 auto 50px auto;
    }
    .horizontal{
        display: grid;
        grid-column: 1/span 4;
        grid-row: span 1;
    }
    .hcontent h1{
        text-decoration: none;
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 17px;
        letter-spacing: 3px;
        font-weight: 600;
        transition: all 0.3s ease;
    }
    .vertical{
        grid-row: span 1;
    }
    .up{
        grid-column: 1/ span 4;
    }
    .feed{
        grid-column: 1/ span 4;
    }
    .gallery:hover .hcontent h1, .shop:hover .hcontent h1,
    .up:hover h1 , .feed:hover h1{
    font-size: 20px;
    letter-spacing: 4px;
}
}