@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --c1 : #00132A;
    --c2 : #84FFE9;
    --c3: #00C9C9;
    --c4: #000E1F;
    --c5: #d8d8d8;
}
.wrapper .title{
    text-align: center;
}
.title h4{
    display:inline-block;
    padding: 20px;
    color: var(--c2);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 10px solid rgba(46, 36, 36, 0.1);
    border-radius: 15px;
    text-transform: uppercase;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgb(0 0 0 0.1);
    word-wrap: break-word;
}

.wrapper .container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4px 0;
}

.container .card{
    position:relative;
    width: 300px ;
    height: 400px ;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgb(0 0 0 0.1),
                inset 0 0 0 1000px rgba(67 52 109 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .imgBx , .imgBx img{
    width: 100%;
    height: 100%;

}

.card .content{
    position: absolute;
    bottom: -80px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0 0 0 0.1);
    border: 1px solid rgba(255 255 255 0.1);
    border-radius: 15px;
    transition: all 0.5s;
    cursor: pointer;
}
.card:hover .content{
    height: 400px;
    bottom: 0px;
}

.content .contentBx h3{
    text-transform: uppercase;
    color: var(--c5);
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin:20px 0 15px ;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 5;
    transform: translateY(-20px);

}
.card:hover .content .contentBx h3{
    opacity: 1;
    transform: translateY(0);
}

.content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;

}

.content .icon{
    position: relative;
    bottom: 10px;
    display: flex;
}

.content .icon li{
    list-style-type:none;
    margin: 0 10px;
    transform:translateY(-13px) ;
    opacity:1 ;
    transition: all 0.5s;
    transition-delay: 0.5s;
}
.card:hover .content .icon li{
    transform: translateY(0);
    opacity: 1;
}

.content .icon li a{
    color: var(--c3);
    font-size: 23.5px;

}